@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../../../../scss/variables";

section {
  height: auto;
  background-color: #FFF9E6;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  >header {
    p {
      font-family: $font-family-fjalla;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding: 2rem 0 1rem 0;
      color: $gunmetal;
      text-align: center;
    }

    hr {
      width: 30%;
      border-color: $gunmetal;
    }
  }

  >.certs-container {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      justify-content: center;
    }

    >article {
      align-items: center;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      width: 46%;
      height: 8rem;

      @include media-breakpoint-up(lg) {
        width: auto;
        margin: 0 3rem;
      }

      >div {
        background-color: rgba(255, 249, 230, .8);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        >p {
          text-align: center;
          margin: .5rem 0;
          color: $gunmetal;
        }

        >p:first-of-type {
          font-family: $font-family-fjalla;
        }

        >p:last-of-type {
          font-family: $font-family-sans;
        }
      }
    }

    article:nth-child(3) {
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: auto;
      }
    }
  }
}
