<section>
  <header>
    <p> Here's What I'm Proud Of </p>
    <hr />
  </header>

  <div class="certs-container">
    <ng-container *ngFor="let certificate of certificates">
      <article [ngClass]="{'selected': certificate.selected}" [ngStyle]="{'background-image': 'url(' + certificate.img + ')'}">
        <div>
          <p>
            <Strong>
              {{certificate.name}}
            </Strong>
          </p>
          <p>
            <strong>
              {{certificate.date}}
            </strong>
          </p>
        </div>
      </article>
    </ng-container>
  </div>

</section>
