@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../../../../scss/variables";

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $gunmetal;
  position: relative;

  >div {
    position: relative;
    height: 3rem;
    overflow: hidden;

    &.trap-header {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100vw;
      height: 10vh;
      background: linear-gradient($maize, $red);
      transform: skewY(-6deg);
      transform-origin: top left;
    }
  }

  >article {
    display: flex;
    flex-direction: column;
    align-items: center;

    >figure {
      display: flex;
      justify-content: center;
      margin: 0;

      >svg-icon {
        height: 5rem;
        width: 5rem;

        @include media-breakpoint-up(md) {
          height: 7rem;
          width: 7rem;
        }
      }
    }

    >h1 {
      color: $mint;
      font-family: $font-family-fjalla;
      font-size: 2rem;

      @include media-breakpoint-up(md) {
        font-size: 5rem;
        margin-bottom: 1rem;
      }
    }

    >p {
      color: $mint;
      font-family: $font-family-sans;
      font-size: 1.5rem;
      margin: 0;

      @include media-breakpoint-up(md) {
        font-size: 4rem;
      }
    }
  }

  >figure {
    margin: 0;
    position: absolute;
    bottom: 1rem;
    animation: bounce 3s infinite;

    >svg-icon {
      height: 3rem;
      width: 3rem;

      @include media-breakpoint-up(md) {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translatey(1rem)
  }

  100% {
    transform: translateY(0)
  }
}
