<section (click)="expandAside()">

  <div>
    <p>Full Stack Developer</p>
  </div>

  <article>

    <figure [ngClass]="{'hidden': hide}">
      <img src="assets/images/blndspt.png" alt="">
    </figure>

    <aside [ngClass]="{'expanded': expand}">

      <div *ngIf="!expand">
        <p>Blndspt Consulting</p>
        <p>June 2018 - Present</p>
      </div>

      <div *ngIf="expand">
       <ul @fadeIn>
         <li>Implemented mobile, web, and kiosk designs across multiple different projects.</li>
         <li>Practiced Scrum in an agile enviornment to effectivley maintian project timelines and utilize available resoucres.</li>
         <li>Developed a 'check-in' application, intended for airline companies, using Angular 6.</li>
         <li>Consumed 3rd pary and internal API's.</li>
       </ul>
      </div>

    </aside>
  </article>

</section>
