<section>
  <header>
    <p> Here's what I've done </p>
    <hr />
  </header>
  <!-- <ng-container *ngFor="let experience of experiences; index as i">
    <article class="experience-{{i}}" (click)="selectExperience(experience, experiences)" [ngClass]="{'selected': experience.selected, 'hide': experience.hide}" [ngStyle]="!experience.selected && {'background-image': 'url(' + experience.img + ')'}">
      <div class="corner-img" *ngIf="experience.selected" [ngStyle]="{'background-image': 'url(' + experience.img + ')'}"></div>
      <div class="text-box" *ngIf="experience.selected">
        <p>{{experience.description}}</p>
      </div>
    </article>
  </ng-container> -->
  <ng-container *ngFor="let experience of experiences">

    <article [ngStyle]="{'background-image': 'url(' + experience.img + ')'}">

      <div class="overlay">

        <span>
          <p>
            {{experience.name}}:
          </p>
          <p>
            <em>
              {{experience.title}}
            </em>
          </p>
        </span>

        <span (click)="expandDetails(experience)">
          <p>See More</p>
          <svg-icon src="assets/images/down_arrow.svg"></svg-icon>
        </span>

      </div>

      <div class="slide-out" [ngClass]="{'expanded' : experience.selected}" (click)="collapseDetails(experience)">
        <i class="fa fa-times"></i>
        <p>{{experience.description}}</p>
      </div>

    </article>

  </ng-container>

</section>
