<section>
  <header>
    <p> Here's what I've done </p>
    <hr />
  </header>

  <ng-container *ngFor="let experience of experiences">

    <article [ngStyle]="{'background-image': 'url(' + experience.img + ')'}" [ngClass]="{'is-web': isWeb}">

      <div class="overlay">

        <span class="exp-title">
          <p>
            {{experience.name}}:
          </p>
          <p>
            <em>
              {{experience.title}}
            </em>
          </p>
        </span>

        <span *ngIf="!isWeb" (click)="expandDetails(experience)" class="see-more">
          <p>See More</p>
          <svg-icon src="assets/images/down_arrow.svg"></svg-icon>
        </span>

      </div>

      <div class="slide-out" [ngClass]="{'expanded' : experience.selected}" (click)="collapseDetails(experience)">
        <i *ngIf="!isWeb" class="fa fa-times"></i>
        <p>{{experience.description}}</p>
      </div>

    </article>

  </ng-container>

</section>
