@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../../../../scss/variables";

section {
  background-color: $turquoise;
  position: relative;
  width: 100vw;

  >header {
    p {
      font-family: $font-family-fjalla;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding: 2rem 0 1rem 0;
      color: $gunmetal;
      text-align: center;
    }

    hr {
      width: 30%;
      border-color: $gunmetal;
    }
  }

  >article {
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -10rem center;
    padding: 1rem 1rem 0 1rem;
    position: relative;

    >.overlay {
          @include media-breakpoint-up(md) {
            margin-left: 5rem;
          }
      >.exp-title {
        >p {
          font-family: $font-family-fjalla;
          color: $gunmetal;
          margin: 0;
        }

        >p:first-of-type {
          font-size: 1.2rem;
        }

        >p:last-of-type {
          font-family: $font-family-sans;
        }
      }

      >.see-more{
        align-items: center;
        display: flex;
        position: absolute;
        bottom: 50%;

        >p {
          font-family: $font-family-sans;
          color: $mint;
          margin: 0;
        }

        >svg-icon {
          height: .7rem;
          width: .7rem;
          transform: rotate(270deg);
        }
      }
    }

    >.slide-out {
      background-color: rgba(41, 47, 54, .7);
      padding: .5rem;
      position: absolute;
      display: flex;
      height: 11rem;
      width: 90%;
      left: -100rem;
      top: 5rem;
      transition: 0.7s;

      >i {
        position: absolute;
        right: 1rem;
        color: $mint;
      }

      >p {
        align-self: center;
        font-family: $font-family-sans;
        color: $mint;
      }

      &.expanded {
        left: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }

      @include media-breakpoint-up(md) {
        background-color: transparent;
        position: initial;
        width: 40%;
        padding: 0;
        margin-left: 5rem;

         >p {
          //  color: $gunmetal;
         }
      }
    }
       @include media-breakpoint-up(md) {
         background-position: right;
       }
  }
}
