@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../../../../scss/variables";

section {
  background-color: $maize;
  padding-bottom: 1rem;
  height: auto;

  @include media-breakpoint-up(lg) {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  >article {
    padding: 0 1rem;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 80%;
      width: 60%;
    }

    >span {
      align-items: center;
      display: flex;

      >img {
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;

         @include media-breakpoint-up(xl) {
            height: 5.5rem;
            width: 5.5rem;
         }
      }

      >p {
        color: $gunmetal;
        font-family: $font-family-sans;

         @include media-breakpoint-up(xl) {
          font-size: 1.5rem;
         }
      }
    }
  }
}
