@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../../../../scss/variables";

section {
  background-color: $maize;
  padding-bottom: 1rem;
  height: auto;

  @include media-breakpoint-up(lg) {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  >header {
     @include media-breakpoint-up(lg) {
       width: 100%;
     }
    p {
      font-family: $font-family-fjalla;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding: 2rem 0 1rem 0;
      color: $gunmetal;
      text-align: center;
    }

    hr {
      width: 30%;
      border-color: $gunmetal;
    }
  }

  >article {
    padding: 0 1rem;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 80%;
      width: 50%;
    }

    >span {
      align-items: center;
      display: flex;

      >img {
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
      }

      >p {
        color: $gunmetal;
        font-family: $font-family-sans;
      }
    }
  }
}
