/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import "variables";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

body {
  margin: 0;
}

  header {
    width: 100%;
    p {
      font-family: $font-family-fjalla;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding: 2rem 0 1rem 0;
      color: $gunmetal;
      text-align: center;

      @include media-breakpoint-up(xl) {
        font-size: 3rem;
      }
    }

    hr {
      width: 30%;
      border-top: 1px solid $gunmetal;
      border-bottom: 1px solid $gunmetal;
    }
  }
