<section>
    <header>
      <p>Here's How It Happened</p>
      <hr />
    </header>

    <div class="video-wrapper">
      <!-- <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/HtEq5L5xBDU?start=59" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> -->

       <figure>
         <img src="assets/images/youtube.png" alt="" (click)="goToYoutube()">
       </figure>

      <div>
        <ng-container *ngFor="let paragraph of accidentalDescription.paragraphs; last as isLast">
          <p>
            {{paragraph}}
          </p>
        </ng-container>
      </div>

    </div>

    <!-- <div *ngIf="!isWeb" class="description" (click)="expandDetails()"
      [ngClass]="{'expanded': accidentalDescription.selected}">
      <i *ngIf="accidentalDescription.selected" class="fa fa-times"></i>
      <span *ngIf="!accidentalDescription.selected">
        <p>
          {{accidentalDescription.defaultText}}
        </p>
        <i class="fa fa-plus"></i>
      </span>
      <ng-container *ngFor="let paragraph of accidentalDescription.paragraphs; last as isLast">
        <p *ngIf="accidentalDescription.selected">
          {{paragraph}}
        </p>
        <hr *ngIf="!isLast && accidentalDescription.selected" />
      </ng-container>
    </div> -->
</section>
