@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../../../../scss/variables";

section {
  height: auto;
  background-color: $red;

  >header {

    p {
      font-family: $font-family-fjalla;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding: 2rem 0 1rem 0;
      color: $gunmetal;
      text-align: center;
    }

    hr {
      width: 30%;
      border-color: $gunmetal;
    }
  }




  >.video-wrapper {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;

    @include media-breakpoint-up(lg) {
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }

    >figure {
      padding: 0 2rem;
      margin: 0;
      display: flex;
      justify-content: center;

      @include media-breakpoint-up(lg) {
        width: 35%;
      }

      >img {
        cursor: pointer;
        height: 5rem;
        width: 5rem;

        @include media-breakpoint-up(lg) {
          height: 20rem;
          width: 20rem;
        }
      }

      >img:hover {
        opacity: .7;
      }
    }

    >div {
      padding: 0 2rem;
      margin: 1rem 0;

      @include media-breakpoint-up(lg) {
        border-left: 2px solid $gunmetal;
        width: 35%;
      }

      >p {
        color: $gunmetal;
        font-family: $font-family-sans;
      }
    }
  }

  >.description {
    align-self: center;
    background-color: $gunmetal;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 80%;
    height: 3.5rem;
    overflow: hidden;
    transition: .7s;
    margin: 1rem 0;

    &.expanded {
      height: 55rem;
      padding: 1rem;
    }

    >span {
      display: flex;
      align-items: center;
      justify-content: center;

      >p {
        color: $mint;
        font-family: $font-family-sans;
      }

      >i {
        margin-left: .5rem;
        color: $mint;
      }
    }

    >p {
      color: $mint;
      font-family: $font-family-sans;
    }

    >hr {
      width: 100%;
      background-color: $mint;
    }

    >i {
      color: $mint;
      align-self: flex-end;
    }
  }

  >.last {
    p {
      text-align: center;
      color: $gunmetal;
      font-family: $font-family-sans;
    }
  }
}
