<section>

  <header>
    <p> Here's How To Contact Me </p>
    <hr />
  </header>

  <div class="contact">
    <!-- <p>AndersDouglasLund@gmail.com</p> -->
    <a href="mailto:AndersDouglasLund@gmail.com">AndersDouglasLund@gmail.com</a>
    <!-- <p>(707) 318-7934</p> -->
    <a href="tel:+17073187934">(707) 318-7934</a>
    <div class="social">
      <ng-container *ngFor="let socialMedia of socialMedias">
        <figure (click)="goToSocial(socialMedia)">
          <img src="{{socialMedia.img}}" alt="">
        </figure>
      </ng-container>
    </div>
  </div>

  <div class="headshot"></div>
  <div class="trap-footer"></div>

</section>
